<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javi_h.encrypter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EncryptActivity">
            <intent-filter android:label="@string/encrypt_file">
                <data
                    android:mimeType="*/*"
                    android:scheme="content" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:label="@string/encrypt_file">
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.javi_h.encrypter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity android:name=".DecryptActivity">
            <intent-filter android:label="@string/decrypt_file">

                <!-- needed for properly formatted email messages -->
                <data
                    android:mimeType="application/encrypted"
                    android:pathPattern=".*\\.encrypted"
                    android:scheme="content" />
                <!-- needed for mangled email messages -->
                <data
                    android:mimeType="application/encrypted"
                    android:pathPattern=".*\\.encrypted"
                    android:scheme="content" />
                <!-- needed for mangled email messages -->
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.encrypted"
                    android:scheme="content" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Register to handle file opening -->
            <intent-filter android:label="@string/decrypt_file">
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.encrypted"
                    android:scheme="file" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".PreferencesActivity" />
    </application>

</manifest>